@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

/** Navbar **/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-left {
  display: flex;
  align-items: flex-end;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.pagename {
  font-size: 1.5rem;
  color: #283618;
}

.nav-links {
  margin-left: 20px;
  align-self: center;
}

.nav-links a {
  margin: 10px;
  text-decoration: none;
  color: #060605;
}

.login-button {
  font-family: "Montserrat", sans-serif;
  margin-right: 20px;
  width: 80px;
  height: 30px;
  color: #060605;
  background-color: rgba(21, 27, 13, 0.08);
  border-radius: 15px;
  border-style: none;
}

/** Slideshow (ANIMATIONS REMOVED/ON HOLD). This section will still require styling for a search bar **/

.slides-container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 500px;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.slide {
  z-index: 1;
  min-width: 100%;
  height: 100%;
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slides-overlay {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: -120px;
}

.find {
  color: white;
  font-size: 3em;
  padding: 10px;
}

.searchbar {
  width: 100%;
  max-width: 500px; 
  height: 45px;
  border-radius: 50px;
  border-style: none;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  outline: none;
}

.explore, a {
  color: white;
  margin-top: 20px;
}

/** Favourites section w/cards **/

.favourites-section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  position: relative;
}

.faves-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.faves-title h2 {
  color: #283618;
  margin: 0; 
  font-weight: 500;
  font-size: 2em;

}

.faves-title a {
  color: #283618;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 16px;
  width: 100%;
}

.faves-card img {
  border-radius: 15px;
  width: 300px;
  height: auto;
  min-height: 250px;
  max-width: 300px;
  height: 100px;
  object-fit: cover;
  margin: 10px;
}

.faves-card p {
  margin: 10px;
  color: #283618;
}

.hike-name {
  font-weight: bold;
}

/** Guides section **/

.guides-section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  position: relative;
}

.guides-image {
  max-width: 100%; 
  overflow: hidden;

}

.guides-image img {
  border-radius: 20px;
  width: 100%;
  max-height: 700px; 


}







/** Footer **/

footer {
  background-color: #142900;
  color: white;
  font-size: 12px;
  
}

.footer-content {
  display: flex;
  flex-direction: column;
  padding: 8px;
}


